

.app-container {
  /* height: 100vh;
  width: 100vw; */
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 100%;
}

#container-circles {
  bottom: 20%;
}

#outer-circle {
  background-color: #13d301;

}