

.app-container {
  /* height: 100vh;
  width: 100vw; */
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 100%;
}

#container-circles {
  bottom: 20%;
}
#img-button {
  position: absolute;
  top: 9%;
  left: 29%;
  transform: scale(0.1);
} 

#img-loader {
  transform: scale(0.4);
  animation: spin infinite 10s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
